.change-password__form-container{
    margin: 1rem 0;
}

.change-password__text-field{
    display: block;
    margin: 0.5rem auto !important;
    width: 100%;
}

.change-password__btn-section{
    display: flex;
    margin-top: 1rem;
}

.change-password__btn-section button{
    width: 80%;
    margin: 0 1%;
}

.change-password__btn-section a{
    text-decoration: none;
    color: #01003f;
    width: 80%;
    margin: 0 1%;
}

.change-password__error{
    color: rgb(255, 100, 82);
}