.donor-section__main-container{
    width: 100%;
    background-color: #f6f7ff;
    margin: 5rem auto 0 auto;
}

.donor-section__header-container{
    display: flex;
    padding-top: 5rem;
    margin: auto;
    justify-content: center;
    color: #10143a;
}

.donor-section__header-container h2{
    font-size: 36px;
}

.donor-section__container{
    max-width: 72rem;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    padding: 1.5rem;
    padding-bottom: 5rem;
}

.donor-section__temporary-text{
    font-size: 72px;
    font-weight: 700;
    color: #10143a50;
    line-height: 80px;
}

.donor-section__container div{
    width: 45%;
    padding: 1.5rem;
    background-color: #f6f7ff;
}